{namespace bc=BeardCoder\Creativeworkspace\ViewHelpers}
{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<section class="frame frame--textimage frame--fullwidth">
    <f:switch expression="{layout}">
        <f:case value="image-text">
            <f:render section="image" arguments="{_all}"/>
            <f:render section="text" arguments="{text:text, header:header}"/>
        </f:case>
        <f:case value="text-image">
            <f:render section="text" arguments="{text:text, header:header}"/>
            <f:render section="image" arguments="{_all}"/>
        </f:case>
        <f:defaultCase>
            <f:render section="text" arguments="{text:text, header:header}"/>
            <f:render section="image" arguments="{_all}"/>
        </f:defaultCase>
    </f:switch>
</section>

<f:section name="image">
    <div class="frame__image">
        <f:if condition="{image}">
            <f:render partial="Image" arguments="{_all}" />
        </f:if>
    </div>
</f:section>

<f:section name="text">
    <div class="frame__text text">
        <div class="text__inner">
            <neos:contentElement.editable class="text__header" property="header"/>
            <neos:contentElement.editable class="text__content" property="text"/>
        </div>
    </div>
</f:section>
