@mixin container($offset: 0) {
    max-width: 46rem;
    margin: auto;
}

@mixin headline($size: 2em, $wight: normal) {
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: $size;
    font-weight: $wight;
    line-height: 1.4em;

    &:before {
        content: '{ ';
        display: inline;
        color: $primary-color;
    }

    &:after {
        content: ' }';
        display: inline;
        color: $primary-color;
    }
}

@mixin reset-list() {
    list-style: none;
    margin: 0;
    padding: 0;
}
