.highlight {
    position: relative;
    box-sizing: border-box;
    padding: 5vh 0;
    background-attachment: fixed;
    background-color: $frame-highlight-bg-color;
    background-position: center;
    background-size: cover;
    text-align: center;

    h2,
    h1 {
        margin-top: 0;
    }

    &:after {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
        content: '';
    }

    .frame__text {
        @include container();

        position: relative;
        z-index: 1;
    }

    @media #{$tablet} {
        padding: 10vh 0;
    }

    &:first-of-type {
        .frame__text {
            margin-top: 50px;

            @media #{$desktop} {
                margin-top: 0;
            }
        }
    }
}
