{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
{namespace bc=BeardCoder\Creativeworkspace\ViewHelpers}
<f:if condition="{image}">
    <f:then>
        <f:if condition="{link}">
            <f:then>
                <a href="{link}">
                    <f:render section="imageRendering" arguments="{_all}"/>
                </a>
            </f:then>
            <f:else>
                <f:render section="imageRendering" arguments="{_all}"/>
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{neos:rendering.inEditMode()}">
            <img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle"/>
        </f:if>
    </f:else>
</f:if>

<f:section name="imageRendering">
    <picture>
        <source media="(min-width: 1025px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="{media:uri.thumbnail(asset: image, maximumWidth: '1250', allowCropping: allowCropping, allowUpScaling: allowUpScaling)}"/>
        <source media="(min-width: 769px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="{media:uri.thumbnail(asset: image, maximumWidth: '512', allowCropping: allowCropping, allowUpScaling: allowUpScaling)}">
        <source media="(min-width: 480px)" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-srcset="{media:uri.thumbnail(asset: image, width: '768', height: '432', allowCropping: 'TRUE', allowUpScaling: allowUpScaling)}">
        <bc:image class="img-fluid lazy" image="{image}" width="480" height="270" allowCropping="TRUE" alt="{image.title}"/>
    </picture>
</f:section>
