.frame {
    position: relative;

    @media #{$phone} {
        margin-top: 4rem;

        &:first-of-type {
            margin-top: 0;
        }
    }

    &__text {
        padding: 0 1rem;

        @media #{$tablet} {
            padding: 0;
        }
    }
}

.frame--fullwidth {
    grid-column: full;
}

.frame--textimage {
    @media #{$phone} {
        flex-flow: row wrap;
    }

    display: flex;

    .frame__image {
        @media #{$phone} {
            order: 1;
        }

        @media #{$tablet} {
            width: 50vw;
            margin-bottom: 0;
        }

        width: 100%;
        line-height: 0;
    }

    .frame__text {
        @media #{$phone} {
            order: 2;
        }

        @media #{$tablet} {
            width: 50vw;
        }

        align-self: center;
    }
}

.text__inner {
    max-width: 640px;
    margin: auto;
}

.frame--gallery {
    margin-top: 10vh;
}
