.gallery__image {
    box-sizing: border-box;
    padding: 0.5rem;

    @media #{$tablet} {
        width: calc(99% / 3);
    }

    img {
        display: block;
    }

    a {
        display: block;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            background-color: #000000;
            background-image: url('/_Resources/Static/Packages/BeardCoder.Creativeworkspace/Resources/Public/Images/sign.svg');
            background-size: 100px;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transition: opacity 0.3s;
        }

        &:hover:after,
        &:focus:after {
            opacity: 0.3;
        }
    }
}

.hide {
    display: none;
}

.gallery__button {
    padding: 10px 15px;
    background-color: $gallery__button-bg-color;
    transition: background-color 0.3s;

    &.is-checked {
        background-color: $primary-color;
    }
}

.gallery-image__link {
    display: block;
    padding: 5px;
}
