html .loader {
    display: none;
    background-color: transparentize(#000000, 0.6);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.3s;
}

html.wf-loading .loader {
    opacity: 0.8;
}
