.navigation {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -99;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;

    .navigation--open & {
        z-index: 99;
        visibility: visible;
        opacity: 1;
    }

    ul {
        @include reset-list();

        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .nav-item {
        display: block;
        position: relative;
    }

    a {
        display: inline-block;
        padding: 0 1.2rem;
        color: $text-color;
        font-size: 2rem;
        line-height: 3rem;
        margin-bottom: 3rem;
        text-decoration: none;
        position: relative;
        top: -40px;
        opacity: 0;
        transition: color 0.2s, opacity 0.5s, top 0.5s;

        .navigation--open & {
            top: 0;
            opacity: 1;
        }

        &:hover {
            color: $primary-color;
        }
    }

    .logo {
        height: 100%;

        a {
            line-height: 100px;
        }
    }

    .active a {
        color: $primary-color;
    }
}

.navigation-trigger {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 0 none;
    background: transparent;

    &:hover {
        outline: none;
    }

    svg line {
        transition: all 0.2s;
    }

    .navigation--open & {
        .line1 {
            transform: rotate(45deg) translate(4px, -4px);
        }

        .line2 {
            opacity: 0;
        }

        .line3 {
            transform: rotate(-45deg) translate(-10px, -2px);
        }
    }
}
