.news-list {
    @include reset-list();

    @media #{$tablet} {
        display: flex;
        flex-flow: row wrap;
        padding-top: 10vh;
    }
}

.news-list-item {
    margin-bottom: 10vh;
    padding: 0 1vw;

    @media #{$tablet} {
        width: 50%;
        box-sizing: border-box;
    }
}
