.progress-reading {
    position: fixed;
    height: 4px;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #000000;

    &-bar {
        background-color: $primary-color;
        position: relative;
        width: 0;
        height: 100%;
    }
}
