{namespace g=DL\Gallery\ViewHelpers}
{namespace bc=BeardCoder\Creativeworkspace\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}

<div {attributes -> f:format.raw()}>
    {backendError -> f:format.raw()}
    <f:if condition="{imagesSelected}">
        <div class="frame frame--gallery gallery" itemscope itemtype="http://schema.org/ImageGallery">
            <g:gallery galleryNode="{node}">
                <figure class="gallery__image">
                    <a href="{media:uri.thumbnail(asset: image, maximumWidth: '1600')}" itemprop="contentUrl" data-size="{g:imageData(image:image, theme:selectedTheme, imageVariant:'large', key:'width')}x{g:imageData(image:image, theme:selectedTheme, imageVariant:'large', key:'height')}">
                        <bc:image class="img-fluid lazy" image="{image}" maximumWidth="330" alt=""/>
                    </a>
                    <figcaption itemprop="caption description">{g:imageData(image:image, theme:selectedTheme, imageVariant:'large', key:'caption')}</figcaption>
                </figure>
            </g:gallery>
        </div>
        {photoSwipe -> f:format.raw()}
    </f:if>
</div>
