{namespace neos=Neos\Neos\ViewHelpers}
{namespace ts=Neos\Fusion\ViewHelpers}
<f:if condition="{items}">
    <ul{attributes -> f:format.raw()}>
    <f:for each="{items}" as="item">
        <li{ts:render(path: '{item.state}.attributes', context: {item: item}) -> f:format.raw()}>
        <f:if condition="{item.state} === 'current'">
            <f:then>
                <a class="nav-link">{item.label} <span class="sr-only">(current)</span></a>
            </f:then>
            <f:else>
                <neos:link.node class="nav-link" node="{item.node}" />
            </f:else>
        </f:if>
        </li>
    </f:for>
    </ul>
</f:if>
