<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
    xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers" xmlns:fusion="http://typo3.org/ns/Neos/Fusion/ViewHelpers"
    xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers">
<html lang="de">

<head>
    <f:section name="Metadata">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Markus Sommer">
        <meta name="language" content="de">
        <link rel="apple-touch-icon" href="/favicons/apple-touch-icon.png" />
        <link type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png" />
        <link rel="manifest" href="/favicons/manifest.webmanifest" />
        <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#daa520" />
        <link rel="shortcut icon" href="/favicons/favicon.ico" />
        <meta name="msapplication-config" content="/favicons/browserconfig.xml" />
        <meta name="theme-color" content="#000000" />
    </f:section>
</head>

<body>
    <f:section name="body">
        <div class="progress-reading">
            <div class="progress-reading-bar"></div>
        </div>
        <header class="header" id="header">
            <div class="header__container">
                <button class="navigation-trigger">
                    <svg width="35" height="20" viewBox="0 0 35 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <title>Navigation trigger button</title>
                        <line class="line1" x1="0" y1="1.5" x2="25" y2="1.5" stroke-width="3" stroke="#fff"></line>
                        <line class="line2" x1="0" y1="10" x2="35" y2="10" stroke-width="3" stroke="#fff"></line>
                        <line class="line3" x1="0" y1="18.5" x2="25" y2="18.5" stroke-width="3" stroke="#fff"></line>
                    </svg>
                </button>
            </div>
        </header>
        <nav class="navigation">
            {parts.menu -> f:format.raw()}
        </nav>
        {content.main -> f:format.raw()}
        <f:render partial="Footer" section="Main" arguments="{_all}" />
        <div class="loader" style="background-image: url('{f:uri.resource(path: 'Images/sign.svg',  package: 'BeardCoder.Creativeworkspace')}')"></div>
    </f:section>
</body>

</html>
