<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers"
      xmlns:fusion="http://typo3.org/ns/Neos/Fusion/ViewHelpers"
      xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers">
<html lang="de">
<head>
</head>
<body>
<f:section name="body">
    <div class="progress-reading"><div class="progress-reading-bar"></div></div>
    <header class="header" id="header">
        <div class="header__container">
            <button class="navigation-trigger">
                <svg width="35" height="20" viewBox="0 0 35 20" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <title>Navigation trigger button</title>
                    <line class="line1" x1="0" y1="1.5" x2="25" y2="1.5" stroke-width="3" stroke="#fff"></line>
                    <line class="line2" x1="0" y1="10" x2="35" y2="10" stroke-width="3" stroke="#fff"></line>
                    <line class="line3" x1="0" y1="18.5" x2="25" y2="18.5" stroke-width="3" stroke="#fff"></line>
                </svg>
            </button>
            <!--<div class="logo">-->
                <!--<a href="/">-->
                    <!--<svg viewBox="0 0 173 40" width="173" height="40" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.41"><path d="M9.88 2.68A19.64 19.64 0 0 1 36.87 10a20.14 20.14 0 0 1-7.23 27.32 19.64 19.64 0 0 1-27-7.32A20.14 20.14 0 0 1 9.89 2.68zm23.38 20.98a14.1 14.1 0 0 1-6.51 8.6 13.9 13.9 0 0 1-19.1-5.18 14.25 14.25 0 0 1 5.12-19.34 13.78 13.78 0 0 1 10.6-1.4l-1.06 4.03a9.72 9.72 0 0 0-7.48 1 10.05 10.05 0 0 0-3.6 13.62 9.8 9.8 0 0 0 18.05-2.41l3.98 1.08z" fill="#fff"/><path d="M52.86 22.91v.85a3.34 3.34 0 0 1-1.88 2.92c-.37.17-.77.26-1.2.26a4.3 4.3 0 0 1-1.13-.16c-.38-.1-.72-.28-1.03-.53-.3-.26-.55-.6-.75-1-.2-.4-.3-.92-.3-1.55v-7.55c0-.45.08-.87.23-1.26a2.95 2.95 0 0 1 1.65-1.66c.39-.17.82-.25 1.29-.25a2.93 2.93 0 0 1 2.88 1.96c.16.4.24.85.24 1.32v.77h-1.94v-.65c0-.39-.11-.72-.33-1-.21-.29-.5-.43-.87-.43-.48 0-.8.15-.96.45-.16.3-.24.69-.24 1.15v7.02c0 .4.08.73.26 1 .17.27.47.4.92.4a1.22 1.22 0 0 0 .82-.29c.11-.1.2-.24.28-.42.08-.18.12-.4.12-.67v-.68h1.94zM56.38 14.95v4.28h1.1c.35 0 .62-.05.83-.15.2-.1.36-.23.47-.41.1-.18.17-.4.21-.66a6.47 6.47 0 0 0 0-1.84c-.04-.26-.11-.49-.23-.68-.24-.36-.7-.54-1.37-.54h-1zm-1.94 11.87V13.1h3.12c2.29 0 3.43 1.34 3.43 4.03 0 .8-.12 1.5-.37 2.06a2.9 2.9 0 0 1-1.3 1.37l2.09 6.26h-2.06l-1.8-5.86h-1.17v5.86h-1.94zM62.55 26.82V13.1h5.8v1.85h-3.86v4.03h3.36v1.85h-3.36v4.03h3.85v1.96h-5.79zM73.52 22.02l-.95-4.97h-.04l-.95 4.97h1.94zm-4.8 4.8l3.03-13.72h1.62l3.03 13.72h-1.95l-.57-2.95h-2.64l-.58 2.95h-1.94zM77.58 26.82V14.95h-2.25V13.1h6.44v1.85h-2.25v11.87h-1.94zM82.68 13.1h1.94v13.73h-1.94zM93.1 13.1l-2.78 13.72H88.6L85.84 13.1h2.06l1.54 9.58h.04l1.56-9.58h2.06zM94.26 26.82V13.1h5.79v1.85H96.2v4.03h3.35v1.85H96.2v4.03h3.85v1.96h-5.8zM111.38 13.1l-2.02 13.72h-1.83l-1.49-8.9h-.03l-1.47 8.9h-1.83L100.7 13.1h2.06l.97 8.71h.04l1.52-8.71h1.49l1.58 8.92h.04l.93-8.92h2.06zM112.25 16.34c0-.55.1-1.04.29-1.47a3.1 3.1 0 0 1 1.8-1.67 3.4 3.4 0 0 1 3.4.61c.3.29.55.64.74 1.06.19.43.28.92.28 1.47v7.25c0 .57-.1 1.07-.28 1.48a3.06 3.06 0 0 1-1.8 1.66 3.4 3.4 0 0 1-2.34 0 3.05 3.05 0 0 1-1.04-.64 2.94 2.94 0 0 1-.76-1.02c-.2-.41-.29-.9-.29-1.48v-7.25zm1.94 7.25c0 .47.13.82.4 1.05.25.22.56.33.92.33.35 0 .66-.1.92-.33s.4-.58.4-1.05v-7.25c0-.48-.14-.83-.4-1.05a1.37 1.37 0 0 0-.92-.34c-.36 0-.67.11-.93.34-.26.22-.39.57-.39 1.05v7.25zM122.42 14.95v4.28h1.1c.35 0 .62-.05.82-.15.2-.1.36-.23.48-.41.1-.18.17-.4.2-.66a6.47 6.47 0 0 0 0-1.84c-.03-.26-.1-.49-.22-.68-.24-.36-.7-.54-1.37-.54h-1.01zm-1.94 11.87V13.1h3.12c2.29 0 3.43 1.34 3.43 4.03 0 .8-.13 1.5-.37 2.06a2.9 2.9 0 0 1-1.3 1.37l2.09 6.26h-2.06l-1.8-5.86h-1.17v5.86h-1.94zM128.59 26.82V13.1h1.94v6.26h.04l2.84-6.26h1.94l-2.65 5.5 3.14 8.22h-2.05l-2.21-6.09-1.05 1.99v4.1h-1.94zM142.98 17.05h-1.94v-.44c0-.45-.1-.84-.31-1.17-.21-.33-.56-.49-1.06-.49-.27 0-.48.05-.65.15-.16.1-.3.24-.4.39-.1.17-.17.36-.2.57a6.6 6.6 0 0 0-.03 1.34c.02.18.06.34.14.48.08.14.19.26.33.37.15.1.35.2.6.3l1.49.6c.43.17.78.37 1.04.59.27.22.48.49.63.78.14.3.24.66.29 1.05.05.4.07.84.07 1.34 0 .58-.05 1.12-.17 1.61-.11.5-.3.92-.55 1.26-.27.36-.61.65-1.05.85-.43.2-.95.3-1.58.3-.47 0-.9-.07-1.31-.24a3.12 3.12 0 0 1-1.74-1.73c-.17-.39-.26-.82-.26-1.28v-.73h1.94v.62c0 .36.1.68.32.97.2.29.56.43 1.05.43.33 0 .59-.05.77-.14.19-.1.33-.24.43-.42.1-.18.16-.4.18-.64a11.15 11.15 0 0 0 0-1.73 1.54 1.54 0 0 0-.16-.56c-.09-.14-.2-.25-.35-.34a4.5 4.5 0 0 0-.58-.3l-1.4-.57c-.83-.35-1.4-.8-1.68-1.38a4.79 4.79 0 0 1-.42-2.15c0-.51.07-1 .2-1.46.14-.46.35-.86.63-1.2.27-.33.6-.6 1.02-.8.41-.2.9-.3 1.48-.3a3.19 3.19 0 0 1 2.36.99 3 3 0 0 1 .87 2.12v.96zM144.43 26.82V13.1h2.92c.53 0 1 .07 1.4.21a2.95 2.95 0 0 1 1.79 2.01c.13.49.2 1.14.2 1.96 0 .62-.04 1.14-.11 1.56a3.29 3.29 0 0 1-1.51 2.25c-.45.25-1.03.38-1.76.38h-.99v5.35h-1.94zm1.94-11.87v4.66h.94c.4 0 .7-.05.91-.17.22-.11.38-.27.48-.48.1-.2.16-.43.18-.71a14.16 14.16 0 0 0 0-1.86 2 2 0 0 0-.16-.76c-.1-.22-.26-.39-.46-.5a1.8 1.8 0 0 0-.88-.18h-1zM155.4 22.02l-.95-4.97h-.04l-.95 4.97h1.94zm-4.8 4.8l3.03-13.72h1.62l3.03 13.72h-1.95l-.57-2.95h-2.65l-.57 2.95h-1.94zM165.4 22.91v.85a3.34 3.34 0 0 1-1.88 2.92c-.37.17-.78.26-1.2.26a4.3 4.3 0 0 1-1.13-.16c-.38-.1-.72-.28-1.03-.53-.3-.26-.55-.6-.75-1-.2-.4-.3-.92-.3-1.55v-7.55c0-.45.08-.87.23-1.26a2.95 2.95 0 0 1 1.65-1.66c.39-.17.81-.25 1.28-.25a2.93 2.93 0 0 1 2.89 1.96c.16.4.24.85.24 1.32v.77h-1.95v-.65c0-.39-.1-.72-.32-1-.21-.29-.5-.43-.88-.43-.48 0-.8.15-.96.45-.16.3-.23.69-.23 1.15v7.02c0 .4.08.73.25 1 .17.27.48.4.93.4a1.22 1.22 0 0 0 .82-.29c.1-.1.2-.24.28-.42.08-.18.11-.4.11-.67v-.68h1.95zM166.98 26.82V13.1h5.79v1.85h-3.85v4.03h3.35v1.85h-3.35v4.03h3.85v1.96h-5.8z" fill="#fff" fill-rule="nonzero"/></svg>-->
                <!--</a>-->
            <!--</div>-->
        </div>
    </header>
    <nav class="navigation">
        {parts.menu -> f:format.raw()}
    </nav>
    {content.main -> f:format.raw()}
    <f:render partial="Footer" section="Main" arguments="{_all}"/>
    <div class="loader" style="background-image: url('{f:uri.resource(path: 'Images/sign.svg',  package: 'BeardCoder.Creativeworkspace')}')"></div>
</f:section>
</body>
</html>
