form[id="contact"] {
    fieldset[id="contact-row"] {
        display: block;
        padding-left: 0;
        padding-right: 0;

        .clearfix {
            display: inline-block;
            width: 49%;

            &:first-child {
                margin-right: 2%;
            }
        }
    }

    fieldset {
        border: 0;
    }

    legend {
        display: none;
    }

    margin-top: 50px;
    margin-bottom: 50px;

    h2 {
        margin-bottom: 0;
    }

    .clearfix {
        @media #{$tablet} {
            display: flex;
        }

        @media #{$phone} {
            margin-bottom: 20px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        position: relative;
        margin-bottom: 1vw;
    }

    label {
        min-width: 100px;
        display: none;
    }

    .input {
        width: 100%;
    }

    input[type]:not([type=search]):not([type=url]):not([type=hidden]):not([type=color]),
    textarea {
        display: inline-block;
        width: 100%;
    }
}

input[type]:not([type=search]):not([type=url]):not([type=hidden]):not([type=color]),
textarea {
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 0;
    background-color: #404040;
    border-radius: 0;
    color: #ffffff;
    line-height: 1.6;

    &:focus {
        outline: 0 none;
    }
}

label ~ textarea {
    vertical-align: top;
}

.form-navigation {
    ul {
        @include reset-list();

        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .submit {
        display: inline-block;
        margin: auto;

        button {
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

button {
    max-width: 100%;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 2px solid $primary-color;
    background: transparent;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.9rem;
    line-height: 1;
    outline: 0 solid transparentize($primary-color, 0.3);
    transition: outline 0.1s;

    &:hover {
        outline-width: 2px;
    }

    &:focus {
        background: transparent;
        outline: none;
    }
}

.button-group-center {
    text-align: center;
}

.button-group {
    button {
        margin-right: 1vw;
        margin-bottom: 1vw;

        &:last-child {
            margin-right: 0;
        }
    }
}
