/*
Colors and typography

This section describes base colors and typography

Styleguide 1.0
*/

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5rem;

    @media #{$tablet} {
        font-size: 18px;
    }
}

/**
 Paragraph

 markup:
 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
 <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>
 <p>Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
 <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a,</p>

 Styleguide 1.1
*/
p {
    font-size: 1rem;
}

h1 {
    @include headline($size: 1.6rem);

    @media #{$tablet} {
        font-size: 1.8rem;
    }
}

h2 {
    @include headline($size: 1.4rem);

    @media #{$tablet} {
        font-size: 1.6rem;
    }
}

h3 {
    @include headline($size: 1.2rem);
}

h4 {
    @include headline($size: 1.2rem);
}

.subheader {
    position: relative;
    display: block;
    margin-top: -15px;
    font-weight: 900;
}

a {
    color: $primary-color;
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

blockquote {
    padding: 0;
    margin: 0;
}

.sr-only {
    display: none;
}
