.footer {
    padding: 40px;
    background-color: $footer-bg-color;

    &__content {
        @include container;
    }

    &__navigation {
        list-style: none;
        padding: 0;
        margin: 0;

        a {
            color: $white;
        }
    }

    .feather-twitter {
        stroke: #1da1f2;
    }

    .feather-facebook {
        stroke: #3b5998;
    }

    .feather-xing {
        stroke: #cfdc00;
    }

    .feather-linkedin {
        stroke: #0077b5;
    }
}
