.footer-menu {
    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__link {
        display: inline-block;
        padding-bottom: 10px;
        color: $text-color;
        text-decoration: none;
    }
}
