body,
html {
    background-color: $bg-color;
    color: $text-color;
}

figure {
    margin: 0;
}

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.content {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 46rem) [main-end] minmax(1rem, 1fr) [full-end];

    > * {
        grid-column: main;
    }
}

.neos-backend .content {
    margin-top: 0;
}

.not-in-view {
    opacity: 0;
    transition: all 0.7s;
}

.in-view {
    opacity: 1;
    transition: all 0.7s;
}
