.header {
    position: absolute;
    z-index: 500;
    top: 4px;
    height: 70px;
    width: 100%;
    transition: transform 0.2s ease-in-out;

    &__container {
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        height: 100%;
    }

    @media #{$tablet} {
        &--pre-fixed {
            position: fixed;
            top: -80px;
            background-color: $header-bg-color;
        }

        &--fixed {
            transform: translateY(84px);
        }
    }
}

.neos-backend .header {
    position: relative;
    top: 0;
}
