<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en"
      xmlns:f="http://typo3.org/ns/TYPO3Fluid/Fluid/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers"
      xmlns:fusion="http://typo3.org/ns/Neos/Fusion/ViewHelpers"
      xmlns:media="http://typo3.org/ns/Neos/Media/ViewHelpers">
<f:section name="Main">
    <footer class="footer" id="footer">
        <div class="footer__content">
            <ul class="footer__navigation">
                {parts.socialLinks -> f:format.raw()}
            </ul>
            {content.footer -> f:format.raw()}
        </div>
    </footer>
</f:section>
</html>
