$assets_path: '/typo3conf/ext/cw_layout/Resources/Public/';
$body-font-size: 1rem;
$body-font-family: 'Open Sans', -apple-system-body, -apple-system, 'Helvetica Neue', 'Helvetica', Arial, Sans-Serif;
$phone: "(max-width: 768px)";
$tablet: "(min-width: 1024px)";
$desktop: "(min-width: 1200px)";

$primary-color: #daa520;
$second-color: #58a0df;
$white: #ffffff;
$text-color: $white;
$footer-bg-color: #000000;
$bg-color: #121212;
$header-bg-color: #000000;

$frame-highlight-bg-color: #666666;
$gallery__button-bg-color: #404040;
